.corFundoLogin{
    background-color: #cfb1d6;
}

/* .logo{
    margin-left: 50%;
}
 */

#img-bg{
    background-image: url('https://i.imgur.com/RisVM9S.png');
    
    min-height: 695px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    }

 .global-container{
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #090a6e;
     
 } 
 
 form{
    padding-top: 10px;
    font-size: 14px; 
    margin-top: 30px;
 }

 .login-form{
     width: 380px;
     height: 450px;
     margin: 20px;
     background: #e98eb8 !important;
     border-radius: 20px !important;

 }

 input[type="date"],
 input[type="email"],
 input[type="password"] {
     border: 2px solid #be7ed1;
     border-radius: 10px;
     margin-bottom: 25px;
 }

 input[type="email"]:focus,
 input[type="password"]:focus{
    outline: none; 
    border: none;
    background: #77e3eb;
    margin: 0;
 }

 .card-title{
    font-weight: 900;
    padding-top: 5px;
}

.btn{
    background: #090a6e!important;
    font-size: 14px;
    transform: translateY(10px);
    border-radius:10px !important;
}

.login{
    text-align: center;
    padding-top: 25px;
}


 